<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentCottage.Properties.Settings.vnConnectionString"
            connectionString="server=127.0.0.1;user id=Lauri;persistsecurityinfo=True;database=vn"
            providerName="MySql.Data.MySqlClient" />
        <add name="RentCottage.Properties.Settings.vnConnectionString1"
            connectionString="server=127.0.0.1;user id=testi;password=testi;persistsecurityinfo=True;database=vn"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>